.linkHeader, h3 {
  width: 88%;
  height: 80px;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  color: #c3eaf3;
  font-weight: bold;
}

.content {
  width: 70vw;
  max-width: 1200px;
  height: 65vh;
  max-height: 1024px;
  overflow: auto;
  padding: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-shadow: 0 1px 10px 2px rgba(132, 208, 234, 0.2);
}

.links, .return, .downloadStructure {
  width: 80%;
  font-size: 1.2em;
  height: auto;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
  color: #c3eaf3;
}

.links:link, .return:link, .downloadStructure:link {
  text-decoration: none;
}

.links:hover, .return:hover, .downloadStructure:hover {
  box-shadow: 3px 5px 30px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(72, 179, 212, 0.4);
  color: white;
  z-index: 101;
}

.rotate {
  transform: rotate(-85deg);
}

.rotate2 {
  transform: rotate(33deg);
}

.logo {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 100%;
  max-width: 150px;
  height: auto;
}

.box, .hospitalLink, .innerPhones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /*vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  /*
background: rgba(1,22,72,1);
background: -moz-linear-gradient(left, rgba(1,22,72,1) 0%, rgba(1,183,156,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,22,72,1)), color-stop(100%, rgba(1,183,156,1)));
background: -webkit-linear-gradient(left, rgba(1,22,72,1) 0%, rgba(1,183,156,1) 100%);
background: -o-linear-gradient(left, rgba(1,22,72,1) 0%, rgba(1,183,156,1) 100%);
background: -ms-linear-gradient(left, rgba(1,22,72,1) 0%, rgba(1,183,156,1) 100%);
background: linear-gradient(to right, rgba(1,22,72,1) 0%, rgba(1,183,156,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011648', endColorstr='#01b79c', GradientType=1 );
*/
  background: #f85032;
  background: -moz-linear-gradient(45deg, #f85032 0%, #011648 0%, #011648 17%, #01b79c 88%, #01b79c 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #f85032), color-stop(0%, #011648), color-stop(17%, #011648), color-stop(88%, #01b79c), color-stop(100%, #01b79c));
  background: -webkit-linear-gradient(45deg, #f85032 0%, #011648 0%, #011648 17%, #01b79c 88%, #01b79c 100%);
  background: -o-linear-gradient(45deg, #f85032 0%, #011648 0%, #011648 17%, #01b79c 88%, #01b79c 100%);
  background: -ms-linear-gradient(45deg, #f85032 0%, #011648 0%, #011648 17%, #01b79c 88%, #01b79c 100%);
  background: linear-gradient(45deg, #f85032 0%, #011648 0%, #011648 17%, #01b79c 88%, #01b79c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#01b79c', GradientType=1 );
  /*
background: rgba(1,183,156,1);
background: -moz-linear-gradient(left, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,183,156,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(1,22,72,1)), color-stop(41%, rgba(1,22,72,1)), color-stop(97%, rgba(1,183,156,1)), color-stop(100%, rgba(1,183,156,1)));
background: -webkit-linear-gradient(left, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: -o-linear-gradient(left, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: -ms-linear-gradient(left, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: linear-gradient(to right, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b79c', endColorstr='#01b79c', GradientType=1 );
*/
  /*
background: rgba(1,183,156,1);
background: -moz-linear-gradient(45deg, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(1,183,156,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(1,22,72,1)), color-stop(41%, rgba(1,22,72,1)), color-stop(97%, rgba(1,183,156,1)), color-stop(100%, rgba(1,183,156,1)));
background: -webkit-linear-gradient(45deg, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: -o-linear-gradient(45deg, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: -ms-linear-gradient(45deg, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
background: linear-gradient(45deg, rgba(1,183,156,1) 0%, rgba(0,0,0,1) 0%, rgba(1,22,72,1) 0%, rgba(1,22,72,1) 41%, rgba(1,183,156,1) 97%, rgba(1,183,156,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b79c', endColorstr='#01b79c', GradientType=1 );
*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5%;
  position: relative;
  height: 100vh;
}

h1 {
  width: 88%;
  height: 80px;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  color: #c3eaf3;
  font-weight: bold;
}

.asideInfo {
  width: 30vw;
  max-width: 900px;
  height: 65vh;
  max-height: 1024px;
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 30px;
}

.container {
  background-color: transparent;
  width: 40vw;
  max-width: 1200px;
  height: 65vh;
  max-height: 1024px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1px 10px 2px rgba(132, 208, 234, 0.2);
}

.container a:nth-child(even) {
  margin-top: 30px;
  transform: rotate(1deg);
}

.container a:nth-child(odd) {
  transform: rotate(-3deg);
}

.container a:nth-of-type(5n+3) {
  transform: rotate(-7deg);
}

.photo_wrapper {
  width: auto;
  height: auto;
  position: relative;
  transform: rotate(-2deg);
}

.photo_wrapper .hospital_photos {
  border: 6px solid #c3eaf3;
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.photo_wrapper .hospital_photos.large {
  width: 235px;
  height: auto;
  transform: rotate(10deg);
}

.photo_wrapper .hospital_photos.er_reg {
  transform: rotate(7deg);
}

.photo_wrapper .pin {
  position: absolute;
  top: -20px;
  left: 190px;
  z-index: 10;
}

.photo_wrapper .pin.er {
  top: -30px;
  left: 90px;
}

.photo_wrapper .pin.er2 {
  top: -30px;
  left: 150px;
}

.main_wrapper {
  width: auto;
  height: auto;
  position: relative;
}

.ambulance {
  width: 115px;
  height: auto;
  position: absolute;
  right: -30px;
  top: -33px;
  z-index: 100;
  transform: rotate(46deg);
}

.pin.pin_1 {
  top: 5px;
  left: 5px;
  position: absolute;
}

.pin.pin_2 {
  margin-top: 80px;
}

.note_wrapper {
  width: auto;
  height: auto;
  position: relative;
}

.note {
  width: 125px;
  height: 125px;
  background-color: #f5da71;
  transform: rotate(-25deg);
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 30px 5px 5px 5px;
  border-top-right-radius: 25px;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  top: 70px;
  left: 95px;
}

.note::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #f7e089;
  position: absolute;
  top: -8px;
  left: 111px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
}

.note p:first-child {
  width: 100%;
  height: 20px;
  background-color: #f3d459;
  position: absolute;
  top: 0;
  right: 0;
}

.note.note_sticky_2 {
  top: 95px;
  left: 8px;
  transform: rotate(25deg);
}

.note.left_shift {
  left: 65px;
}

.box {
  width: auto;
  height: 25%;
  min-height: 100px;
  max-height: 150px;
  min-width: 155px;
  margin: 15px;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  color: #c3eaf3;
  position: relative;
}

.box:link {
  text-decoration: none;
}

.box:hover {
  box-shadow: 3px 5px 30px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(72, 179, 212, 0.4);
  color: white;
  z-index: 101;
}

.aside {
  width: 50%;
  min-width: 185px;
  margin-bottom: 30px;
}

.icons {
  position: absolute;
  top: 5px;
  right: 5px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

body {
  scrollbar-base-color: white;
  scrollbar-face-color: white;
  scrollbar-highlight-color: white;
  scrollbar-shadow-color: white;
  scrollbar-track-color: #48b3d4;
  scrollbar-3dlight-color: white;
  scrollbar-darkshadow-color: white;
  scrollbar-arrow-color: white;
}

@media only screen and (max-width: 520px) {
  body {
    height: 100%;
  }
  .main_wrapper {
    width: 95%;
  }
  .main_wrapper .ambulance {
    width: 100px;
    right: -2px;
    top: -40px;
    transform: rotate(33deg);
  }
  .asideInfo,
  .box,
  .container {
    width: auto;
  }
  .linkIcon {
    font-size: 1em;
  }
  .icons {
    padding: 5px;
  }
  .note_sticky_1 {
    left: 75px;
  }
  .photo_wrapper .hospital_photos.large {
    width: 225px;
  }
  .logo {
    bottom: -7%;
    left: 10px;
    max-width: 60px;
  }
}

@media only screen and (min-width: 521px) and (max-width: 767px) {
  body {
    height: 100%;
  }
  .main_wrapper {
    width: 80%;
  }
  .asideInfo,
  .container {
    width: 100%;
  }
  .asideInfo {
    height: auto;
  }
  .asideInfo .aside {
    margin: 0 auto;
  }
  .asideInfo .aside:nth-child(2) {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .aside {
    width: 95%;
  }
}

@media only screen and (max-width: 1280px) {
  .pin_2 {
    margin-left: 120px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1599px) {
  .box {
    width: 40%;
  }
}

@media only screen and (min-width: 2540px) {
  .container {
    height: 40vh;
  }
}

.content {
  position: relative;
}

.links {
  width: auto;
}

.photo_subPages1 {
  margin-left: 30%;
}

.photo_subPages2 {
  margin-right: 30%;
  transform: rotate(-18deg);
}

.note.note_subPages {
  top: 175px;
  left: -40px;
}

@media only screen and (max-width: 520px) {
  .content.subPagesContent {
    width: 88vw;
  }
  .content.subPagesContent .links {
    width: 100%;
  }
  .content.subPagesContent .photo_subPages1,
  .content.subPagesContent .photo_subPages2 {
    margin-left: -27px;
    margin-right: 0;
  }
}

.phoneWrapper {
  padding: 20px;
}

.phoneLinks {
  width: 40%;
  max-width: 470px;
}

.phoneLinks p:nth-child(2) {
  text-align: center;
  border: 2px dashed rgba(27, 121, 182, 0.8);
  border-radius: 5px;
  padding: 5px;
}

.linkHeader {
  width: 100%;
  height: auto;
  font-size: 0.95em;
  margin-bottom: 6%;
}

.hospitalLink {
  height: 20%;
  max-height: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 25px;
}

.numberInfo {
  font-size: 0.9em;
}

.numberInfo:not(:nth-child(2)) {
  height: 18px;
  text-align: left;
}

.numberInfo span {
  font-size: 1.1em;
}

.innerPhones {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.innerPhones div {
  width: 30%;
  height: auto;
  margin-top: 12%;
  line-height: 30px;
}

.innerPhones .arrows {
  margin-top: 20px;
}

.innerPhones .arrows img {
  display: block;
  max-width: 45px;
  height: 23px;
  margin: 0 auto;
}

.cursor {
  cursor: default;
}

.bottomInfo,
.topInfo {
  font-size: 0.8em;
}

.bottomInfo span,
.topInfo span {
  font-weight: bold;
}

.note_location {
  position: relative;
}

.note_phones {
  position: absolute;
  left: -230px;
  top: 230px;
}

.main_wrapper__phones {
  position: absolute;
  top: 0;
  left: -25px;
  transform: rotate(-12deg);
  z-index: 100;
}

.main_wrapper__phones .pin.er {
  top: -25px;
  left: 30px;
}

.tilt {
  transform: rotate(1deg);
}

.tilt2 {
  transform: rotate(-3deg);
}

.tilt3 {
  transform: rotate(1deg);
}

.pin.pin_1.main_wrapper__pin {
  top: 195px;
  left: 3px;
  transform: rotate(30deg);
  z-index: 100;
}

@media only screen and (max-width: 450px) {
  .innerPhones div:not(.arrows) {
    font-size: 0.9em;
  }
  .arrows img {
    width: 35px;
    height: 18px;
  }
}

@media only screen and (max-width: 623px) {
  .phoneLinks,
  .phoneWrapper {
    width: 100%;
  }
  .phoneLinks {
    margin: 0 0 20px;
  }
  .phone_photo {
    width: 160px;
    height: auto;
  }
}

@media only screen and (min-width: 624px) and (max-width: 794px) {
  .note_phones {
    left: -15px;
    top: -50px;
  }
}

@media only screen and (min-width: 624px) and (max-width: 1280px) {
  .phoneLinks {
    width: 100%;
  }
}

@media only screen and (min-width: 521px) and (max-width: 830px) {
  .logo {
    max-width: 80px;
  }
}

.exeption {
  margin-top: -30px;
}

.exeptionHeader {
  margin-bottom: 20px;
}

h3 {
  background-color: rgba(217, 38, 28, 0.7);
  width: 70vw;
  font-size: 1rem;
}

select {
  height: 35px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 10;
  margin: 10px;
  border-radius: 3px;
  background-color: #1565ab;
  border-color: #1565ab;
  color: white;
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  cursor: pointer;
  outline-color: #197acf;
}

select:hover {
  box-shadow: 3px 5px 30px 3px rgba(0, 0, 0, 0.3);
}

select:focus {
  box-shadow: 0 0 3pt 2pt #1565ab;
  box-shadow: 3px 5px 30px 3px rgba(0, 0, 0, 0.3);
}

.return {
  width: 75px;
  height: 55px;
  padding: 5px;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 10;
  text-transform: uppercase;
  font-size: 1em;
}

.main {
  max-width: none;
  max-height: none;
}

.groupHeader {
  width: 70%;
  text-align: center;
  color: #c3eaf3;
  font-size: 1.2em;
  margin-top: 10px;
  text-transform: capitalize;
}

hr {
  width: 50%;
  border-width: 0.5px;
  border-color: rgba(37, 158, 195, 0.7);
}

.accordionWrapper {
  width: 100%;
  height: auto;
}

.accordion {
  text-align: left;
  margin: 10px auto;
  width: 70%;
  max-width: 1200px;
  cursor: pointer;
}

.accordion.active {
  box-shadow: 3px 5px 30px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(72, 179, 212, 0.4);
  color: white;
}

.accordion::after {
  content: "\002B";
  float: right;
}

.accordion.active::after {
  content: "\2212";
}

.panel {
  display: none;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 10px;
}

.panel table {
  width: 100%;
  color: #c3eaf3;
  box-shadow: 1px 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.panel table:hover {
  background-color: rgba(72, 179, 212, 0.4);
  color: white;
}

.panel table:hover a {
  color: white;
}

.panel table td,
.panel table th {
  border-bottom: 2px dashed rgba(30, 136, 186, 0.6);
  border-left: 2px dashed rgba(30, 136, 186, 0.6);
}

.panel table th {
  height: 60px;
  padding: 5px;
}

.panel table th.mainWidth {
  width: 80%;
}

.panel table th.minorWidth {
  width: 20%;
}

.panel table td {
  line-height: 25px;
}

.panel table td a {
  color: #c3eaf3;
  width: 100%;
  display: block;
}

.panel table td a:link {
  text-decoration: none;
}

.panel table td a:hover {
  font-weight: bold;
  color: rgba(217, 38, 28, 0.7);
}

.panel table td:first-child {
  padding-left: 20px;
}

.panel table td:nth-child(even) {
  text-align: center;
}

.panel table td:first-child,
.panel table th:first-child {
  border-left: 0;
}

.panel table .singleTab,
.panel table tr:last-child td {
  border-bottom: 0;
}

.exeptionLogo {
  bottom: -15px;
  left: 15px;
}

@media only screen and (max-width: 555px) {
  .return {
    text-align: left;
    width: 50px;
    height: 30px;
  }
  .return img {
    width: 35px;
    height: auto;
  }
  .return span {
    display: none;
  }
}

@media only screen and (max-width: 890px) {
  select {
    position: static;
    border-color: #208cba;
    background-color: #208cba;
    outline-color: #29a5da;
  }
}

@media only screen and (max-width: 520px) {
  .exeptionH3 {
    width: 100vw;
  }
  .panel {
    width: 100%;
  }
}

@media only screen and (min-width: 521px) and (max-width: 767px) {
  .accordion {
    width: 100%;
  }
  .panel {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .accordion {
    width: 80%;
  }
  .panel {
    width: 80%;
  }
}

.downloadStructure {
  width: 110px;
  height: 60px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 3px;
  font-size: 1em;
}

.downloadStructure img {
  margin: 5px;
}

.regulations {
  height: 80px;
  top: 65px;
  padding: 5px;
}

.administrationBox {
  padding: 0 30px;
}

.structure {
  width: 25%;
  height: auto;
  min-height: 130px;
  max-height: 200px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 20px;
  padding: 15px;
  cursor: default;
}

.structure.managers {
  width: 20%;
}

.structure:first-child {
  padding: 20px;
}

.structure:first-child span {
  text-transform: uppercase;
}

.structure span {
  margin-top: 5px;
  width: 100%;
  text-transform: capitalize;
}

.directorSeperator {
  width: 85%;
  margin: 30px;
}

.main_wrapper__phones.admin_photo {
  top: 110px;
  left: -25px;
  transform: rotate(7deg);
}

.main_wrapper__phones.admin_photo .pin.er.admin_pin {
  top: -5px;
  transform: rotate(35deg);
}

.pin.pin_1.admin_pin2 {
  top: 345px;
  left: 5px;
}

@media only screen and (max-width: 545px) {
  .content.administrationBox {
    width: 85vw;
    margin: 0 auto;
  }
  .structure {
    width: 100%;
    min-height: 110px;
    font-size: 1em;
  }
  .structure.managers {
    width: 100%;
  }
}

@media only screen and (min-width: 521px) and (max-width: 545px) {
  .content.administrationBox {
    width: 73vw;
  }
}

@media only screen and (max-width: 623px) {
  .phone_photo.pediatrics {
    width: 115px;
  }
}

@media only screen and (min-width: 546px) and (max-width: 780px) {
  .content.administrationBox {
    width: 75vw;
  }
  .content.administrationBox .structure {
    width: 49%;
    padding: 10px;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1024px) {
  .administrationBox {
    width: 90vw;
  }
  .administrationBox .structure {
    width: 42%;
  }
  .administrationBox .structure.managers {
    width: 28%;
    padding: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1350px) {
  .structure {
    width: 35%;
  }
  .structure.managers {
    width: 27%;
  }
}

/*# sourceMappingURL=main.css.map */