.linkHeader {
  width: 88%;
  height: 80px;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  color: #c3eaf3;
  font-weight: bold;
}

.content {
  width: 70vw;
  max-width: 1200px;
  height: 65vh;
  max-height: 1024px;
  overflow: auto;
  padding: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content:hover {
  box-shadow: 0 1px 10px 2px rgba(132, 208, 234, 0.2);
}

.links {
  width: 80%;
  font-size: 1.2em;
  height: auto;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
  color: #c3eaf3;
}

.links:link {
  text-decoration: none;
}

.links:hover {
  box-shadow: 3px 5px 30px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(72, 179, 212, 0.4);
  color: white;
}

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /*vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #2394ae;
  background-image: url("../images/sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5%;
  position: relative;
  height: 100vh;
}

/*
.wrapper{
  // width: 100%;
  // height: 100%;
  min-height:100%;
   position:relative;
}
*/
h1 {
  width: 88%;
  height: 80px;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  color: #c3eaf3;
  font-weight: bold;
}

.asideInfo {
  width: 30vw;
  max-width: 900px;
  height: 65vh;
  max-height: 1024px;
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 30px;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 40vw;
  max-width: 1200px;
  height: 65vh;
  max-height: 1024px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 5px;
}

.container:hover {
  box-shadow: 0 1px 10px 2px rgba(132, 208, 234, 0.2);
}

.box {
  width: 40%;
  height: 25%;
  min-width: 155px;
  margin: 15px;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  color: #c3eaf3;
  position: relative;
}

.box:link {
  text-decoration: none;
}

.box:hover {
  box-shadow: 3px 5px 30px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(72, 179, 212, 0.4);
  color: white;
}

.aside {
  width: 50%;
  min-width: 185px;
  margin-bottom: 30px;
}

.icons {
  position: absolute;
  top: 5px;
  right: 5px;
}

.logo {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 100%;
  max-width: 150px;
  height: auto;
}

@media only screen and (max-width: 520px) {
  body {
    height: 100%;
  }
  .asideInfo,
  .box,
  .container {
    width: 100%;
  }
  .linkIcon {
    font-size: 1em;
  }
  .icons {
    padding: 5px;
  }
  .logo {
    bottom: -7%;
    left: 10px;
    max-width: 60px;
  }
}

@media only screen and (min-width: 521px) and (max-width: 767px) {
  .asideInfo,
  .container {
    width: 47%;
  }
  .box {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box {
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .box {
    width: 90%;
  }
  .aside {
    width: 95%;
  }
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 520px) {
  .content {
    width: 100vw;
  }
  .content .links {
    width: 100%;
  }
}

.phoneWrapper {
  padding: 20px;
}

.phoneLinks {
  width: 40%;
  max-width: 470px;
}

.phoneLinks p:nth-child(2) {
  text-align: center;
  border: 2px dashed rgba(27, 121, 182, 0.8);
  border-radius: 5px;
  padding: 5px;
}

.linkHeader {
  width: 100%;
  height: auto;
  font-size: 0.95em;
  margin-bottom: 6%;
}

.hospitalLink {
  height: 20%;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 25px;
}

.numberInfo {
  font-size: 0.9em;
}

.numberInfo:not(:nth-child(2)) {
  height: 18px;
  text-align: left;
}

.numberInfo span {
  font-size: 1.1em;
}

.innerPhones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.innerPhones div {
  width: 30%;
  height: auto;
  margin-top: 12%;
  line-height: 30px;
}

.innerPhones .arrows {
  margin-top: 20px;
}

.innerPhones .arrows img {
  display: block;
  max-width: 45px;
  height: 23px;
  margin: 0 auto;
}

.cursor {
  cursor: default;
}

.bottomInfo,
.topInfo {
  font-size: 0.8em;
}

.bottomInfo span,
.topInfo span {
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .innerPhones div:not(.arrows) {
    font-size: 0.9em;
  }
  .arrows img {
    width: 35px;
    height: 18px;
  }
}

@media only screen and (max-width: 623px) {
  .phoneLinks,
  .phoneWrapper {
    width: 100%;
  }
  .phoneLinks {
    margin: 0 0 20px;
  }
}

@media only screen and (min-width: 624px) and (max-width: 1280px) {
  .phoneLinks {
    width: 100%;
  }
}

@media only screen and (min-width: 521px) and (max-width: 830px) {
  .logo {
    max-width: 80px;
  }
}

/*# sourceMappingURL=main.css.map */