//made by katgal, september 2017
*{
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background-color: blue;
  background-image: url("../images/blueSquares.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2%;
}
// aside{
// z-index:10;
// }

%textCenter {
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  background-color: rgba(255,255,255, 0.3);
  width: 70%;
  font-size: 1.3rem;
  text-transform: uppercase;
  @extend %textCenter;
  border-radius: 5px;
}

.goodday {
  @extend %textCenter;
  width: 100%;
width: 70%;
}

.container {
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 70vw;
  height: 75vh;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.box {
  width: 25%;
  height: 25%;
  margin: 15px;
  background-color: red;
  // @extend %textCenter;
  text-transform: uppercase;
  display: flex;
    justify-content: center;
    align-items: center;
  a{
  //  @extend %textCenter;
  //  text-transform: uppercase;
      margin: 50%;}
}
