
//made by katgal, september/october 2017

.downloadStructure {
  width: 110px;
  height: 60px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 3px;
  font-size: 1em;
  @extend %links;

  img {
    margin: 5px;
  }
}

.regulations {
  height: 80px;
  top: 65px;
  padding: 5px;
}
//*********************************************
//******** ADMINISTRATIVE STRUCTURE ***********
//*********************************************

.administrationBox {
  padding: 0 30px;
  // @extend %tiltDivs;//added
}

.structure {
  width: 25%;
  // height: 20%;
  height: auto;
  min-height: 130px;
  max-height: 200px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 20px;
  padding: 15px;
  cursor: default;

  &.managers {
    width: 20%;
  }

  &:first-child {
    padding: 20px;

    span {
      text-transform: uppercase;
    }
  }

  span {
    margin-top: 5px;
    width: 100%;
    text-transform: capitalize;
  }
}

.directorSeperator {
  width: 85%;
  margin: 30px;
}
// photos and pins

.main_wrapper__phones.admin_photo {
  top: 110px;
  left: -25px;
  transform: rotate(7deg);

  .pin.er.admin_pin {
    top: -5px;
    transform: rotate(35deg);
  }
}
//additional pin

.pin.pin_1.admin_pin2 {
  top: 345px;
  left: 5px;
}
//*********************************************
//************* media queries *****************
//*********************************************
@media only screen and (max-width:545px) {
  .content.administrationBox {
    ////////
    width: 85vw; //////
    margin: 0 auto;///
  }//////

  .structure {
    width: 100%;
    min-height: 110px;
    font-size: 1em;

    &.managers {
      width: 100%;
    }
  }
}
////
@media only screen and (min-width:521px) and (max-width:545px) {
  .content.administrationBox {
    width: 73vw;
  }
}
//////
//photo pediatrics (2 photo)
@media only screen and (max-width: 623px) {
  .phone_photo.pediatrics {
    width: 115px; /////////
  }
}
@media only screen and (min-width:546px) and (max-width:780px) {
  .content.administrationBox {
    // width: 100vw;
    width: 75vw; ////////////////

    .structure {
      // width: 42%;
      width: 49%; ///////////
      padding: 10px;
    }
  }
}
@media only screen and (min-width: 781px) and (max-width: 1024px) {
  .administrationBox {
    width: 90vw;

    .structure {
      width: 42%;

      &.managers {
        width: 28%;
        padding: 0;
      }
    }
  }
}
@media only screen and (min-width:1025px) and (max-width:1350px) {
  .structure {
    width: 35%;

    &.managers {
      width: 27%;
    }
  }
}
