
//made by katgal, september 2017

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: darken($main-color, 45%);
  background-image: url("../images/sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5%;
}
// aside{
// z-index:10;
// }

%textCenter {
  text-align: center;
}

h1 {
  width: 88%;
  height: 80px;
  font-size: 1.3rem;
  text-transform: uppercase;
  @extend %textCenter;
  border-radius: 5px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  color: $main-color;
  font-weight: bold;
}

.asideInfo {
  width: 30vw;
  max-width:900px;
  height: 60vh;
  max-height: 1024px;
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 30px;
  max-height: 1024px;
}

.container {
  background-color: rgba($additional-color, 0.3);
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // width: 50vw;
  width: 40vw;
  max-width: 1200px;
  height: 60vh;
  max-height: 1024px;
  // overflow: hidden;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 5px;

  &:hover {
    // overflow: overlay;
    // overflow: auto;//firefox scroll - overlay nie dzała
    box-shadow: 0 1px 10px 2px rgba($minor3-color, 0.2);
  }
}

.box {
  width: 40%;
  height: 25%;
  min-width: 135px;
  margin: 15px;
  @extend %textCenter;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 5px 20px 0 rgba($additional2-color, 0.3);
  padding: 5px;

  &:hover {
    box-shadow: 3px 5px 30px 3px rgba($additional2-color, 0.3);
    background-color: rgba($accent-color, 0.4);

    a {
      color: lighten($main-color, 30%);
      // font-weight:600;
    }
  }
}

.aside {
  width: 50%;
  margin-bottom: 30px;
}

a {
  color: $main-color;

  &:link {
    text-decoration: none;
  }
}
//*********************************************
//************* media queries *****************
//*********************************************
@media only screen and (max-width:520px) {
  .asideInfo,
  .box,
  .container {
    width: 100%;
  }
  //ie flex problem - work fine only after refresh or window resize - there is a tip to add
  // min-width to an element, but it is not optimal solution...
  // .box{
    // min-width: 210px;
  // }
}
@media only screen and (min-width : 521px) and (max-width:767px) {
  .asideInfo,
  .container {
    width: 47%;
  }

  .box {
    width: 100%;
  }
}
@media only screen and (min-width:768px) and (max-width:1024px) {
  .box {
    width: 90%;
  }
}
@media only screen and (min-width:1025px) and (max-width:1280px) {
  .aside {
    width: 95%;
  }
}
