
//made by katgal, september 2017

.exeption {
  margin-top: -30px;
}
.exeptionHeader{
  margin-bottom: 20px;
}
h3 {
  @extend %header;
  background-color: rgba($minor5-color, 0.7);
  width: 70vw;
  font-size: 1rem;
}

.main {
  max-width: none;
  max-height: none;
}

.groupHeader {
  width: 70%;
  text-align: center;
  color: $main-color;
  font-size: 1.2em;
  margin-top: 10px;
  text-transform: capitalize;
}

hr {
  width: 50%;
  border-width: 0.5px;
  border-color: rgba($minor2-color, 0.7);
}
//*********************************************
//********* ACCORDION STYLING *****************
//*********************************************

.accordionWrapper {
  width: 100%;
  height: auto;
}

.accordion {
  text-align: left;
  margin: 10px auto;
  width: 70%;
  max-width: 1200px;
  cursor: pointer;

  &.active {
    box-shadow: 3px 5px 30px 3px rgba($additional2-color, 0.3);
    background-color: rgba($accent-color, 0.4);
    color: lighten($main-color, 30%);
  }

  &::after {
    content: "\002B";
    float: right;
  }

  &.active::after {
    content: "\2212";
  }
}

.panel {
  display: none;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;

//*********************************************
//************** TABLES ***********************

  table {
    width: 100%;
    color: $main-color;
    box-shadow: 1px 10px 20px 0 rgba($additional2-color, 0.3);
    //border-collapse:collapse does not mix with border-radius
    //now border-collapse property is set to separate
    //and everything is working fine
    border-radius: 5px;
    // background-color: rgba($minor1-color, 0.5);//for better visibility

    // internet explorer is not showing box-shadow on tables when border-collapse: collapse;
    // so I switched it in _reset to separate
    // or I just can turn border-collapse off, it will work also properly
    &:hover {
      background-color: rgba($accent-color, 0.4);
      color: lighten($main-color, 30%);
    }

    td,
    th {
      border-bottom: 2px dashed rgba($minor4-color, 0.6);
      border-left: 2px dashed rgba($minor4-color, 0.6);
    }

    th {
      height: 60px;
      padding: 5px;

      &.mainWidth {
        width: 80%;
      }

      &.minorWidth {
        width: 20%;
      }
    }

    td {
      line-height: 25px;
      &:first-child{
        padding-left: 20px;
      }

      &:nth-child(even) {
        text-align: center;
      }
    }

    td:first-child,
    th:first-child {
      border-left: 0;
    }
    .singleTab,
    tr:last-child td {
      border-bottom: 0;
    }
  }
}
//*********************************************
//******* LOGO PHONES SUBPAGES ****************
.exeptionLogo{
  bottom: -15px;
  left: 15px;
}

//*********************************************
//************* media queries *****************
//*********************************************
@media only screen and (max-width:520px) {
  .exeptionH3{
    width: 100vw;
  }
  .panel {
    width: 100%;
  }
}
@media only screen and (min-width:521px) and (max-width:767px) {
.accordion{
  width: 100%;
}
.panel{
  width: 100%;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .accordion{
    width: 80%;
  }
  .panel{
    width: 80%;
  }
}
