
//made by katgal, september/october 2017

.phoneWrapper {
  padding: 20px;
  // @extend %tilt;
}

.phoneLinks {
  width: 40%;
  //for explorer flex problem
  max-width: 470px;

  p:nth-child(2) {
    text-align: center;
    border: 2px dashed rgba($minor1-color, 0.8);
    border-radius: 5px;
    padding: 5px;
  }

  &:hover {
    p:nth-child(2) {
      border: 2px dashed darken($minor1-color, 10%);
    }
  }
}

.linkHeader {
  @extend %header;
  width: 100%;
  height: auto;
  font-size: 0.95em;
  margin-bottom: 6%;
}

.hospitalLink {
  height: 20%;
  max-height: 200px;
  @extend %flexCenter;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 25px;
}

.numberInfo {
  font-size: 0.9em;

  &:not(:nth-child(2)) {
    height: 18px;
    text-align: left;
  }

  span {
    font-size: 1.1em;
  }
}

.innerPhones {
  @extend %flexCenter;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  div {
    width: 30%;
    height: auto;
    margin-top: 12%;
    line-height: 30px;
  }

  .arrows {
    margin-top: 20px;

    img {
      display: block;
      max-width: 45px;
      height: 23px;
      margin: 0 auto;
    }
  }
}

.cursor {
  cursor: default;
}

.bottomInfo,
.topInfo {
  font-size: 0.8em;

  span {
    font-weight: bold;
  }
}

.note_location {/////////////bug with 620 - 797 media
  position: relative;
}

.note_phones {/////////////
  position: absolute;
  left: -230px;
  top: 230px;
}
//////////////PHOTO LEF CORNER
.main_wrapper__phones {
  position: absolute;
  top: 0;
  left: -25px;
  transform: rotate(-12deg);
  z-index: 100;

  .pin.er {
    top: -25px;
    left: 30px;
  }
}

.tilt {
  //PHONES used
  transform: rotate(1deg);
}

.tilt2 {
  /////used
  transform: rotate(-3deg);
}

.tilt3 {
  transform: rotate(1deg);
}

.tilt4 {
  // transform: rotate();
}

.pin.pin_1.main_wrapper__pin {
  /////////////////////////PIN MAIN WRAPPER
  top: 195px;
  left: 3px;
  transform: rotate(30deg);
  z-index: 100;
}
//*********************************************
//************* media queries *****************
//*********************************************
@media only screen and (max-width:450px) {
  .innerPhones div:not(.arrows) {
    font-size: 0.9em;
  }

  .arrows {
    img {
      width: 35px;
      height: 18px;
    }
  }
}
@media only screen and (max-width:623px) {
  .phoneLinks,
  .phoneWrapper {
    width: 100%;
  }

  .phoneLinks {
    margin: 0 0 20px;
  }
  ///PHOTO/////////////////////////////////
  .phone_photo {
    width: 160px;
    height: auto;
  }
}
/////////////
@media only screen and (min-width: 624px) and (max-width: 794px) {
  //  .phoneWrapper {
  //  width: 90vw;bug bug bug
  //  }
  .note_phones {
    left: -15px;
    top: -50px;
  }
}
@media only screen and (min-width:624px) and (max-width:1280px) {
  .phoneLinks {
    width: 100%;
  }
}
@media only screen and (min-width:521px) and (max-width: 830px) {
  .logo {
    max-width: 80px;
  }
}
