
//made by katgal, september 2017

.phoneWrapper {
  padding: 20px;
}

.phoneLinks {
  width: 40%;
  //for explorer flex problem
  max-width: 470px;

  p:nth-child(2) {
    text-align: center;
    border: 2px dashed rgba($minor1-color, 0.8);
    border-radius: 5px;
    padding: 5px;
  }
}

.linkHeader {
  @extend %header;
  width: 100%;
  height: auto;
  font-size: 0.95em;
  margin-bottom: 6%;
}

.hospitalLink {
  height: 20%;
  max-height: 200px;
  @extend %flexCenter;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 25px;
}

.numberInfo {
  font-size: 0.9em;

  &:not(:nth-child(2)) {
    height: 18px;
    text-align: left;
  }

  span {
    font-size: 1.1em;
  }
}

.innerPhones {
  @extend %flexCenter;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  div {
    width: 30%;
    height: auto;
    margin-top: 12%;
    line-height: 30px;
  }

  .arrows {
    margin-top: 20px;

    img {
      display: block;
      max-width: 45px;
      height: 23px;
      margin: 0 auto;
    }
  }
}

.cursor {
  cursor: default;
}

.bottomInfo,
.topInfo {
  font-size: 0.8em;

  span {
    font-weight: bold;
  }
}
.note_location{/////////////bug with 620 - 797 media
  position: relative;
}

.note_phones{/////////////
  position: absolute;
  left: -220px;
  top: 225px;
}
//*********************************************
//************* media queries *****************
//*********************************************
@media only screen and (max-width:450px) {
  .innerPhones div:not(.arrows) {
    font-size: 0.9em;
  }

  .arrows {
    img {
      width: 35px;
      height: 18px;
    }
  }
}
@media only screen and (max-width:623px) {
  .phoneLinks,
  .phoneWrapper {
    width: 100%;
  }

  .phoneLinks {
    margin: 0 0 20px;
  }
}
@media only screen and (min-width:624px) and (max-width:1280px) {
  .phoneLinks {
    width: 100%;
  }
}
@media only screen and (min-width:521px) and (max-width: 830px) {
  .logo {
    max-width: 80px;
  }
}
