
//made by katgal, september 2017

// <body>, <h1> and .logo are already styled in _mainPage.scss

.content {
  @extend %mainContainer;
  position: relative;/////////////
}

.links {
  @extend %links;
}

//*********************************************
//************* media queries *****************
//*********************************************
@media only screen and (max-width:520px) {

  .content {
    width: 100vw;

    .links {
      width: 100%;
    }
  }
}
