
//colors main
$main-color: rgb(195,234,243);
$accent-color: rgb(72,179, 212);

//colors additional
$additional-color: rgb(255,255, 255);
$additional2-color: rgb(0,0,0);

 //color minor
$minor1-color: rgb(27,121,182);
$minor2-color: rgb(37,158,195);
$minor3-color: rgb(132,208, 234);
$minor4-color: rgb(30,136, 186);
$minor5-color: rgb(217, 38, 28);
$minor6-color: rgb(21, 101, 171);
$minor7-color: rgb(32, 140, 186);
$minor8-color: rgb(245, 218, 113);


//header styles
%header {
  width: 88%;
  height: 80px;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  color: $main-color;
  font-weight: bold;
}

//main container styles
%mainContainer {
  width: 70vw;
  max-width: 1200px;
  height: 65vh; //initial value was 70
  max-height: 1024px;
  overflow: auto;
  padding: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  // &:hover {///////////
    box-shadow: 0 1px 10px 2px rgba($minor3-color, 0.2);
  // }//////////////
}

//anchors styles
%links {
  width: 80%;
  font-size: 1.2em;
  height: auto;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 5px 20px 0 rgba($additional2-color, 0.3);
  color: $main-color;

  &:link {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 3px 5px 30px 3px rgba($additional2-color, 0.3);
    background-color: rgba($accent-color, 0.4);
    color: lighten($main-color, 30%);
    z-index: 101;//////

  }
}
//not used
%tilt{
  a:nth-child(even){
    margin-top: 30px;
    transform: rotate(1deg);
  }
  a:nth-child(odd){
    transform: rotate(-3deg);
  }
  a:nth-of-type(5n+3){
    transform: rotate(-7deg);
  }
}
/////////used
%lightTilt{
  a:nth-child(even){
    margin-top: 30px;
    transform: rotate(1deg);
  }
  a:nth-child(odd){
    transform: rotate(-1deg);
  }
  a:nth-of-type(5n+3){
    transform: rotate(-2deg);
  }
}

%tiltDivs{//used in admin
  /*
  div:nth-child(even):not(.note_wrapper){
    margin-top: 30px;
    transform: rotate(1deg);
  }
  div:nth-child(odd):not(.note_wrapper){
    transform: rotate(-1deg);
  }
  div:nth-of-type(5n+3):not(.note_wrapper){
    transform: rotate(-2deg);
  }
  */
}

///////////////used
.rotate{
  transform: rotate(-85deg)
}
.rotate2{
  transform: rotate(33deg);
}

%logo{
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 100%;
  max-width:150px;
  height: auto;
}

//flex center content
%flexCenter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

// $smartphones: "(min-width : 320px) and (max-width : 480px)";
// $bigger-smartphones: "(min-width : 481px) and (max-width : 767px)";
// $tablets: "(min-width : 768px) and (max-width : 1024px)";
// $tablets2: "(min-width : 1025px ) and (max-width : 1200px)";
// $desktop: "(min-width : 1201px ) and (max-width : 1493px)";
// $desktop2: "(min-width : 1494px)";
// $desktop3:"(min-width: 1494px) and (max-width: 1700px)";
// @media only screen and (min-width : 540px) and (max-width : 1024px)
