
//colors main
$main-color: rgb(195,234,243);
$accent-color: rgb(72,179, 212);

 //colors additional
$additional-color: rgb(255,255, 255);
$additional2-color: rgb(0,0,0);

 //color minor
$minor1-color: rgb(27,121,182);
$minor2-color: rgb(37,158,195);
$minor3-color: rgb(132,208, 234);
$minor4-color: rgb(30,136, 186);


// $smartphones: "(min-width : 320px) and (max-width : 480px)";
// $bigger-smartphones: "(min-width : 481px) and (max-width : 767px)";
// $tablets: "(min-width : 768px) and (max-width : 1024px)";
// $tablets2: "(min-width : 1025px ) and (max-width : 1200px)";
// $desktop: "(min-width : 1201px ) and (max-width : 1493px)";
// $desktop2: "(min-width : 1494px)";
// $desktop3:"(min-width: 1494px) and (max-width: 1700px)";
// @media only screen and (min-width : 540px) and (max-width : 1024px)
